@model LoginViewModel

@{
	ViewData["Title"] = "Login";
}


<!-- keep this here. it sends a login warning if the email/password is wrong oro
	non-exsistent
-->
@if (TempData["LoginMessage"] != null)
{
	<div class="alert alert-danger text-center">
		@TempData["LoginMessage"]
	</div>
}

<div class="card m-2 mb-2" style="width: 25rem;">
<h2 class="text-center">Login</h2>

<form method="post">

	<div class="text-danger" asp-validation-summary="All"></div>
	<div>
		<label asp-for="Email">Enter Email: </label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div>
		<label asp-for="Password">Enter Password: </label>
		<input asp-for="Password" class="form-control" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<div>
		<button type="submit" class="btn btn-primary m-3">Login</button>
	</div>

</form>

</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}