
@{

	ViewData["Title"] = "Products";
	 
}
<!-- Straight in to HTML -->
<div>
	<h2 class="text-center">Our Products</h2>


	<div class="card" style="width: 18rem;">
		<img src="/images/MartinCow.png" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;">
		<img src="/images/BerryPieMartin.png" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card" style="width: 18rem;">
		<img src="/images/ChocolateMartin.png" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

</div>