
@{

	ViewData["Title"] = "Products";
	// PRODUCT INDEX PAGE
}
<!-- Straight in to HTML -->
<div class="main-product-page">
	<h2 class="text-center">Our Products</h2>
</div>

<div id="product-cards" class="row">

	<!--Card 1-->
	<div class="card" style="width: 18rem;">
		<img src="/images/MartinCow.png" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Martin's Classic Milk'</h5>
				<p class="card-text">Pure nostalgia in every sip—creamy, 
					fresh milk delivered by your favorite bovine in uniform. Martin's Classic- The Original Milk.</p>
			<p class="card-text">Placeholer Price: $7.49</p>

			<a href="#" class="btn btn-primary">Add to Cart</a>
		</div>
	</div>

	<!--Card 2-->
	<div class="card" style="width: 18rem;" >
		<img src="/images/BerryPieMartin.png" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Aunt May's Berry-Pie</h5>
			<h6 class="card-subtitle">Spring Limited Edition</h6>
			<p class="card-text">Who wants to wait until after dinner for dessert? 
				Enjoy Aunt May's Special Berry-Pie Flavor this Spring, all day long!</p>
			<p class="card-text">Placeholer Price: $7.49</p>

			<a href="#" class="btn btn-primary">Add to Cart</a>
		</div>
	</div>

	<!--Card 3-->
	<div class="card " style="width: 18rem;">
		<img src="/images/ChocolateMartin.png" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Little Chubbs' Chocolate Delight</h5>
				<p class="card-text">Chocolate lovers... and Chubbs rejoice—this dreamy blend
					is handcrafted for moo-gical satisfaction..</p>
			<p class="card-text">Placeholer Price: $7.49</p>

			<a href="#" class="btn btn-primary">Add to Cart</a>
		</div>
	</div>

</div>