@model IEnumerable<Product>

@{
	ViewData["Title"] = "Products";
}

<div class="main-product-page">
	<h2 class="text-center">Our Products</h2>
</div>

<div id="product-cards" class="row">
	@foreach (var product in Model)
	{
		<div class="card m-3" style="width: 18rem;">
			<!--Martin Cow img is a placeholder under I am able to loop through images-->
			<img src="~/images/MartinCow.png" class="card-img-top" alt="@product.Name" />
			<div class="card-body">
				<h5 class="card-title">@product.Name</h5>
				<p class="card-text">Price: $@product.Price.ToString("0.00")</p>
				<p class="card-text">Category: @product.Category</p>

				<form asp-controller="Cart" asp-action="Index" method="post">
					<input type="hidden" name="productId" value="@product.ProductId" />
					<button type="submit" class="btn btn-primary">Add to Cart</button>
				</form>
			</div>
		</div>
	}
</div>
