@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cart";
	// ADD TO CART FUNCTIONALITY ~~ 
}
<p> This is the Cart. 

    It may be retitled "Checkout" <br />

    if the cart is empty then return a view or with an error saying that there is nothing in the cart.
    placeholder prices are in the Index of the productcontroller. <br /> Some math will have to be done in order to calulate all 
    of the products in the cart but we will deal with that later.

   <br /> (Calculator function needed) <br />

    Worry about aesthetics later-- **

    <br />

    
</p>
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">3 items</div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="/images/MartinCow.png"></div>
                    <div class="col">
                        <div class="row text-muted">Dairy Product</div>
                        <div class="row">Martin's Classic Milk</div>
                        <!--HERE IS WHERE PRODUCT ID WILL GO FROM THE DATABASE-->
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="row">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="/images/ChocolateMartin.png"></div>
                    <div class="col">
                        <div class="row text-muted">Dairy Product</div>
                        <div class="row">Chubs Chocolate</div>
                        <!--HERE IS WHERE PRODUCT ID WILL GO FROM THE DATABASE-->
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="/images/BerryPieMartin.png"></div>
                    <div class="col">
                        <div class="row text-muted">Dairy Product</div>
                        <div class="row">BerryPie Spring Special</div>
                        <!--HERE IS WHERE PRODUCT ID WILL GO FROM THE DATABASE-->
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>
                </div>
            </div>
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS 3</div>
                <div class="col text-right">&euro; 132.00</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted">Standard-Delivery- &;5.00</option></select>
                <p>DISCOUNT CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; 137.00</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>

</div>