@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Checkout";

}
<p> This is the Cart. 

    It may be retitled "Checkout" <br />

    if the cart is empty then return a view or with an error saying that there is nothing in the cart.
    placeholder prices are in the Index of the productcontroller. <br /> Some math will have to be done in order to calulate all 
    of the products in the cart but we will deal with that later.

   <br /> (Calculator function needed) <br />

    Worry about aesthetics later-- **

    <br />

    
</p>