@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    </div>

<div class="alert alert-info" role="alert">
    <strong>This website is under construction!</strong> 
    
</div>

<div> 
</div>

