@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    </div>

<div class="alert alert-info" role="alert">
    <strong>This website is under construction!</strong> 
    
</div>


<!--Add some bootstrap here -->
<div> 
    <p>
        This is a sample eCommerce website built with ASP.NET Core MVC. It is designed to demonstrate the basic structure and functionality of an online store.
    </p>
    <p>
        You can explore the site, but please note that some features may not be fully implemented yet.
    </p>
    <p>
        Feel free to check back later for updates!
	</p>
</div>

