@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Explore the Dairy Farm &#128004</h1>
</div>

<div>
    <!-- LOGO HERE-->
    <img src="~/images/MilkmanCow.png" class="img-fluid w-25">
    <p class= "d-inline">
     This is a placeholder : for carousel
    </p>
    <div class="carousel d-inline">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
            </<div>
        </div>
    </div>
</div>

<div class="alert alert-danger text-center" role="alert">
    <strong class="text-center">This website is under construction! &#128004</strong>
    <p>
        This is a sample eCommerce website built with ASP.NET Core MVC.
        It is designed to demonstrate the basic structure and functionality of an online store.<br />  
        You can explore the site, but please note that some features may not be fully implemented yet.<br />
        Feel free to check back later for updates!
    </p>

</div>
<!--Carosel of Milk Jugs and description??->


<!--Add some bootstrap here -->
