html {
  font-size: 14px;
}


@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.banner-img {
    width: 100%;
    max-height: 560px;
    object-fit: contain;
    display: block;
    padding: 20px;
    margin: 0 auto;
}

.carousel-caption {
    position: absolute;
    bottom: 10px; /* Controls vertical placement */
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    max-width: 80%;
    text-align: center;
}

.carousel-caption h5 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.carousel-caption p {
    font-size: 0.9rem;
    margin: 15px;
    line-height: 1.4;
}

.carousel-control-prev-icon,
.carousel-control-next-icon 
{
    filter: invert(100%);
    width: 3rem;
    height: 3rem
}

.carousel-control-prev {
    opacity: 1;
    width: 5%;
    left: 300px;
}
.carousel-control-next {
    opacity: 1;
    width: 5%;
    right: 300px;
}


.logo { 
    max-width: 7%;  
}

.product-cards {
    padding: 10px 10px 10px 10px;

}

.btn-checkout {
    background-color: #258cfb;
    color: white;
}

.cart-card {
    max-width: 250px;
}

.cart-img {
    max-height: 150px;
    object-fit: contain;
}

